{% load static %}



{% block content %}
<form method="get">
    {% csrf_token %}
      <label>Departments:</label>
            <select name="department">
                <option value="">All departments</option>
                <option value="Sales">Sales</option>
                <option value="Account">Account</option>
                <option value="IT">IT</option>
             </select><br><br>
        <label>Role:</label>
        <select name="role">
        <option value="">--Select Role--</option>
        <option value="Marketing">Marketing</option>
        <option value="Accountant">Accountant</option>
        <option value="Developer">Developer</option>
        </select><br><br>
        
        <lable>Topic</lable>
        <select name="topic">
            <option value="">--Select Topic--</option>
            <option value="Product Awareness">Product Awareness</option>
            <option value="Accountancy">Accountancy</option>
            <option value="Python">Python</option>
            <option value="C++">C++</option>
        </select><br><br>
        <button type="submit">Filter</button>
    </form>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <ul>
    {% for instance in queryset %}
        <li>
            <h3>{{ instance.question }}</h3>
          
              
            <p>Role: {{ instance.role }}</p>
            <p>Topic: {{ instance.topic }}</p>
            <p>Answer Option: {{ instance.answeroption }}</p>
<p> <input type="checkbox" name="option" value="option_a">Option A:{{ instance.a }}</p>
<p> <input type="checkbox" name="option" value="option_b">Option B:{{ instance.b }}</p>
<p> <input type="checkbox" name="option" value="option_c">Option C:{{ instance.c }}</p>
<p> <input type="checkbox" name="option" value="option_d">Option D:{{ instance.d }}</p>

            
        </li>
    {% empty %}
        <li>No results found.</li>
    {% endfor %}
    </ul>
{% endblock %}
